nav {
  justify-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav button {
  width: 25%;
  background-color: unset;
  border: unset;
  color: rgba(235, 240, 255, 0.815);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem;
}
nav button:hover {
  color: white;
}