#projects > .project-list > .project-list-item {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
#projects > .project-list > .project-list-item > img {
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem black;
  width: 100%;
}
#projects > .project-list > .project-list-item > footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#projects > .project-list > .project-list-item > footer > a {
  background-color: lightblue;
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}
#projects > .project-list > .project-list-item > footer > a:hover {
  opacity: 0.8;
}
