:root {
  font-size: 15px;
  --nav-font: hsla(0, 00%, 100%, 75%);
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  align-items: center;
  justify-content: space-evenly;
  background-color: seagreen;
}

nav > a {
  color: var(--nav-font);
  text-decoration-line: none;
}

#welcome {
  font-size: 200%;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  color: var(--nav-font);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1136%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M -276.46979946878315%2c107 C -244.47%2c168.4 -180.47%2c383 -116.46979946878317%2c414 C -52.47%2c445 -20.47%2c275.4 43.530200531216835%2c262 C 107.53%2c248.6 139.53%2c358.8 203.53020053121685%2c347 C 267.53%2c335.2 299.53%2c211.6 363.53020053121685%2c203 C 427.53%2c194.4 459.53%2c303.8 523.5302005312168%2c304 C 587.53%2c304.2 619.53%2c202.2 683.5302005312168%2c204 C 747.53%2c205.8 779.53%2c320 843.5302005312168%2c313 C 907.53%2c306 939.53%2c146.8 1003.5302005312168%2c169 C 1067.53%2c191.2 1099.53%2c412.8 1163.530200531217%2c424 C 1227.53%2c435.2 1268.24%2c235.8 1323.530200531217%2c225 C 1378.82%2c214.2 1416.71%2c341 1440%2c370' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -69.65654024660971%2c363 C -37.66%2c315.6 26.34%2c119.2 90.34345975339029%2c126 C 154.34%2c132.8 186.34%2c399.4 250.34345975339028%2c397 C 314.34%2c394.6 346.34%2c128 410.3434597533903%2c114 C 474.34%2c100 506.34%2c328 570.3434597533903%2c327 C 634.34%2c326 666.34%2c102.2 730.3434597533903%2c109 C 794.34%2c115.8 826.34%2c341 890.3434597533903%2c361 C 954.34%2c381 986.34%2c199.6 1050.3434597533903%2c209 C 1114.34%2c218.4 1146.34%2c403.2 1210.3434597533903%2c408 C 1274.34%2c412.8 1306.34%2c254 1370.3434597533903%2c233 C 1434.34%2c212 1516.41%2c310.6 1530.3434597533903%2c303 C 1544.27%2c295.4 1458.07%2c216.6 1440%2c195' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -87.02320688853078%2c187 C -55.02%2c221.2 8.98%2c366.2 72.97679311146922%2c358 C 136.98%2c349.8 168.98%2c134.8 232.97679311146922%2c146 C 296.98%2c157.2 328.98%2c417.6 392.9767931114692%2c414 C 456.98%2c410.4 488.98%2c146.4 552.9767931114692%2c128 C 616.98%2c109.6 648.98%2c303 712.9767931114692%2c322 C 776.98%2c341 808.98%2c200.4 872.9767931114692%2c223 C 936.98%2c245.6 968.98%2c443.4 1032.9767931114693%2c435 C 1096.98%2c426.6 1128.98%2c207.2 1192.9767931114693%2c181 C 1256.98%2c154.8 1288.98%2c303.6 1352.9767931114693%2c304 C 1416.98%2c304.4 1495.57%2c174.6 1512.9767931114693%2c183 C 1530.38%2c191.4 1454.6%2c313.4 1440%2c346' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -65.99469128130211%2c127 C -33.99%2c171.4 30.01%2c336.6 94.00530871869789%2c349 C 158.01%2c361.4 190.01%2c176.4 254.0053087186979%2c189 C 318.01%2c201.6 350.01%2c409.2 414.0053087186979%2c412 C 478.01%2c414.8 510.01%2c189.2 574.0053087186978%2c203 C 638.01%2c216.8 670.01%2c502.8 734.0053087186978%2c481 C 798.01%2c459.2 830.01%2c125 894.0053087186978%2c94 C 958.01%2c63 990.01%2c299.6 1054.005308718698%2c326 C 1118.01%2c352.4 1150.01%2c200.2 1214.005308718698%2c226 C 1278.01%2c251.8 1310.01%2c468 1374.005308718698%2c455 C 1438.01%2c442 1520.81%2c161.8 1534.005308718698%2c161 C 1547.2%2c160.2 1458.8%2c393 1440%2c451' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1136'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e") center center;
}

section {
  margin: 70px;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: darkorange;
  padding: 1em;
  margin: 1em;
  width: 20rem;
}
.project-card > img {
  margin: auto 0;
  width: 100%;
  height: auto;
}
.title {
  margin-top: 1em;

}
.subtitle {
font-size: 80%;
}
.link-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.link-button > a {
  color: darkorange;
  background-color: white;
  padding: 0.5em 2em;
  margin: 0.1em;
  text-decoration-line: none;

}